<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail de validación de email</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif;
      }
      #heading {
        background-color: #0066ff;
        color: #f5f7f9;
        text-align: center;
        padding: 20px;
      }
      #mailbody {
        background-color: #fff;
        color: #3c3c3b;
        padding: 20px;
        font-size: 16px;
        text-align: center;
      }
      #footer {
        background-color: #fff;
        color: #3c3c3b;
        padding: 20px;
      }
      #pblue {
        color: #0066ff;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0px;
        text-align: center;
      }
      #h1blue {
        color: #0066ff;
        font-weight: bold;
        margin-top: 0px;
        text-align: center;
      }
      #fino {
        font-weight: normal;
      }
      #link {
        text-decoration: none;
        color: #3c3c3b;
      }
    </style>
  </head>
  <body>
    <table
      id="table"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="max-width: 700px; margin: 0 auto"
    >
      <!-- Encabezado -->
      <tr>
        <td
          id="heading"
          style="
            background-color: #0066ff;
            color: #f5f7f9;
            text-align: center;
            padding: 20px;
          "
        >
          <h1>¡Estás a punto de finalizar tu suscripción!</h1>
        </td>
      </tr>

      <!-- Cuerpo del correo -->
      <tr>
        <td
          id="mailbody"
          style="
            background-color: #fff;
            color: #3c3c3b;
            padding: 20px;
            font-size: 16px;
            text-align: center;
          "
        >
          <p>Si aún no compraste tu reloj, podés hacerlo ahora:</p>
          <a
            href="%SUCCESS_URL%"
            target="_blank"
            style="text-decoration: none; color: #0066ff"
            ><b>Comprá tu SmartWatch</b></a
          >
          <p>
            Solo falta que cargues en la Red de Ayuda los
            <b>datos de la persona que va a ser cuidada</b> para que podamos
            ayudarla de la mejor manera.
          </p>
          <p>Para ello seguí los siguientes pasos:</p>

          <div id="adulto-mayor" style="padding-bottom: 20px; width: auto">
            <ol
              id="list"
              start="1"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px">
                Ingresá a nuestro <b>Portal Web</b> desde tu computadora,
                celular o tablet desde
                <a
                  href="https://backoffice.elliecenter.com/login"
                  target="_blank"
                  style="text-decoration: none; color: #3c3c3b"
                  ><b>https://backoffice.elliecenter.com/login</b></a
                >
                o haciendo click
                <a
                  href="https://backoffice.elliecenter.com/login"
                  target="_blank"
                  style="text-decoration: none; color: #3c3c3b"
                  ><b>aquí</b></a
                >.
              </li>
            </ol>

            <hr
              style="
                border: none;
                height: 1px;
                background-color: #0066ff;
                margin: 20px 0;
              "
            />

            <h2
              style="
                color: #f5f7f9;
                background-color: #427e46;
                padding: 20px;
                text-align: center;
              "
            >
              Si sos quién va a ser cuidado:<br />
              (%PATIENT_FIRST_NAME% %PATIENT_LAST_NAME%)
            </h2>

            <ol
              id="list"
              start="2"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px">
                Iniciá sesión con las siguientes credenciales:
                <p><b>Email:</b> %EMAIL%</p>
                <p><b>Contraseña:</b> %PASSWORD%</p>
              </li>
            </ol>

            <h2
              style="
                color: #f5f7f9;
                background-color: #427e46;
                padding: 20px;
                text-align: center;
              "
            >
              Si sos el Administrador de la Red:<br />
              (%ACP_NAME% %ACP_LASTNAME%)
            </h2>

            <ol
              id="list"
              start="2"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px">
                Iniciá sesión con las siguientes credenciales:
                <p><b>Email:</b> %ACP_EMAIL%</p>
                <p><b>Contraseña:</b> %ACP_PASSWORD%</p>
              </li>
            </ol>

            <hr
              style="
                border: none;
                height: 1px;
                background-color: #0066ff;
                margin: 10px 0px 30px;
              "
            />

            <ol
              id="list"
              start="3"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px">
                Tocá en la tarjeta <b>Mis Redes</b> y terminá de completar tus
                datos personales. <br /><br />
                También podés hacerlo desde nuestra aplicación para celulares
                descargándola desde
                <a
                  href="https://checkout.ellie.care/download"
                  target="_blank"
                  style="text-decoration: none; color: #3c3c3b"
                  ><b>aquí</b></a
                >, y completando tu información desde la pestaña <b>Perfil</b>
                <br /><br />
                Es importante que tus datos estén actualizados para poder
                brindarte la mejor asistencia posible.
              </li>
            </ol>
          </div>

          <p>
            Ya estás dentro de tu Red de Ayuda. Continuá <b>invitando</b> a
            todos los integrantes que vos quieras.
          </p>
          <div
            style="
              background-color: #d73225;
              border-radius: 10px;
              margin-inline: 20px;
              padding: 10px;
              padding-inline: 30px;
            "
          >
            <p style="color: #f5f7f9">
              Recordá que <b>no vas a tener asistencia</b> hasta que no
              completes <b>todos tus datos</b> y <b>te llegue el reloj</b> listo
              para usar.
            </p>
          </div>
          <p>
            En breve nos vamos a <b>comunicar con vos</b> al %CUSTOMER_PHONE%
            para gestionar el <b>envío del reloj</b>.
          </p>

          <h1
            style="
              color: #0066ff;
              font-weight: bold;
              padding-top: 50px;
              text-align: center;
            "
          >
            Disfrutá tu vida, nosotros te cuidamos
          </h1>

          <p style="padding-top: 100px">
            Si no fuiste vos quién se registró en Ellie Care ignorá este
            mensaje.
          </p>
        </td>
      </tr>

      <!-- Footer -->
      <tr>
        <td
          id="footer"
          style="background-color: #fff; color: #3c3c3b; padding: 20px"
        >
          <table>
            <tbody>
              <tr>
                <th scope="col">
                  <img
                    src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/LogoLightMode.png"
                    width="100"
                    height="100"
                  />
                </th>

                <th scope="col" style="padding-left: 20px">
                  <table width="450">
                    <tbody>
                      <tr>
                        <th scope="col">
                          <p
                            style="
                              color: #0066ff;
                              font-size: 20px;
                              font-weight: bold;
                              margin-top: 0px;
                              margin-bottom: 0px;
                              text-align: center;
                            "
                          >
                            CONEXIÓN CON TU BIENESTAR
                          </p>
                          <hr
                            style="
                              border: none;
                              height: 2px;
                              background-color: #0066ff;
                              margin: 0 auto;
                              margin-top: 10px;
                              margin-bottom: 10px;
                              width: 100%;
                            "
                          />
                        </th>
                      </tr>
                      <tr>
                        <td>
                          <table width="450">
                            <tbody>
                              <tr>
                                <th id="fino" scope="col" align="left">
                                  <img
                                    src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/phoneLightMode.png"
                                    height="20"
                                    alt=""
                                    style="vertical-align: middle"
                                  />
                                  <span style="vertical-align: middle"
                                    >0800 888 3554</span
                                  >
                                </th>
                                <th id="fino" scope="col" align="left">
                                  <a
                                    href="https://ellie.care"
                                    target="_blank"
                                    style="
                                      text-decoration: none;
                                      color: #3c3c3b;
                                    "
                                  >
                                    <img
                                      src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/worldLightMode.png"
                                      height="20"
                                      alt=""
                                      style="vertical-align: middle"
                                    />
                                    <span style="vertical-align: middle"
                                      >www.ellie.care</span
                                    >
                                  </a>
                                </th>
                                <th scope="col">
                                  <a
                                    href="https://www.linkedin.com/company/ellie-care/mycompany/"
                                    target="_blank"
                                  >
                                    <img
                                      src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/linkedinLightMode.png"
                                      width="20"
                                      height="20"
                                      alt=""
                                      style="vertical-align: middle"
                                    />
                                  </a>
                                </th>
                                <th scope="col">
                                  <a
                                    href="https://www.instagram.com/elliecare.latam/"
                                    target="_blank"
                                  >
                                    <img
                                      src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/instagramLightMode.png"
                                      width="20"
                                      height="20"
                                      alt=""
                                      style="vertical-align: middle"
                                    />
                                  </a>
                                </th>
                                <th scope="col">
                                  <a
                                    href="https://twitter.com/elliecareok"
                                    target="_blank"
                                  >
                                    <img
                                      src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/twitterLightMode.png"
                                      width="20"
                                      height="20"
                                      alt=""
                                      style="vertical-align: middle"
                                    />
                                  </a>
                                </th>
                                <th scope="col">
                                  <a
                                    href="https://www.facebook.com/Ellie-Care-114087367948463"
                                    target="_blank"
                                  >
                                    <img
                                      src="https://elliecare-public-images.s3.sa-east-1.amazonaws.com/mailing-images/pngs/facebookLightMode.png"
                                      width="20"
                                      height="20"
                                      alt=""
                                      style="vertical-align: middle"
                                    />
                                  </a>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </th>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
