<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comunicación de adhesión a red de ayuda</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      /* Estilos CSS */
      body {
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif; /* Aplicación de la fuente importada */
      }

      /* Estilos adicionales... */
    </style>
  </head>
  <body>
    <table
      id="table"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="max-width: 700px; margin: 0 auto"
    >
      <!-- Encabezado -->
      <tr>
        <td
          id="heading"
          style="
            background-color: #0066ff;
            color: #f5f7f9;
            text-align: center;
            padding: 20px;
          "
        >
          <h1>¡Bienvenido a %CC_NAME%!</h1>
        </td>
      </tr>

      <!-- Cuerpo del correo -->
      <tr>
        <td
          id="mailbody"
          style="
            background-color: #fff;
            color: #3c3c3b;
            padding: 20px;
            font-size: 16px;
            text-align: center;
          "
        >
          <div id="adulto-mayor" style="padding-bottom: 20px; width: auto">
            <h3>
              <b
                >¡Fuiste añadido a la Red de Ayuda de %SUPPORT_NETWORK_NAME%!</b
              >
            </h3>
            <br />
            <br />
            Te agregaron a la Red de Ayuda para que puedas ser parte y podamos
            comunicarnos con vos ante cualquier incidente que ocurra en ella.
          </div>

          <p>
            Para ingresar a tu cuenta y ver los detalles de la Red seguí estos
            pasos:
          </p>

          <hr
            style="
              border: none;
              height: 1px;
              background-color: #0066ff;
              margin: 20px 0;
            "
          />

          <div id="adulto-mayor" style="padding-bottom: 20px; width: auto">
            <ol
              id="list"
              start="1"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px">
                Ingresá a nuestro <b>Portal Web</b> desde tu computadora,
                celular o tablet desde
                <a
                  href="https://backoffice.elliecenter.com/login"
                  target="_blank"
                  style="text-decoration: none; color: #3c3c3b"
                  ><b>https://backoffice.elliecenter.com/login</b></a
                >
                o haciendo click
                <a
                  href="https://backoffice.elliecenter.com/login"
                  target="_blank"
                  style="text-decoration: none; color: #3c3c3b"
                  ><b>aquí</b></a
                >.
              </li>
              <li style="padding: 5px">
                Iniciá sesión con las siguientes credenciales:
                <p><b>Email:</b> %EMAIL%</p>
                <p><b>Contraseña:</b> %PASSWORD%</p>
              </li>
            </ol>
            <br />
            <div>
              <div
                style="
                  background-color: #427e46;
                  border-radius: 10px;
                  /* margin-inline: 20px; */
                  padding: 10px;
                  padding-inline: 30px;
                "
              >
                <p style="color: #f5f7f9">
                  Es importante que <b>los datos estén actualizados</b> para poder
                  brindarles la mejor asistencia posible.
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <!-- Footer -->
      %FOOTER%
    </table>
  </body>
</html>
