<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Solicitud de creación de nueva obra social</title>
      <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <style>
        /* Estilos CSS */
        body {
          margin: 0;
          padding: 0;
          font-family: "Quicksand", sans-serif; /* Aplicación de la fuente importada */
        }

        /* Estilos adicionales... */
      </style>
    </head>
    <body style="margin: 20px; font-family: Arial, Helvetica, sans-serif;">
        <div style="width: 60%; margin: 0 auto;">
          <h1 style="font-size: 32px; font-weight: 600; margin: 50px 0px;">Se solicita crear la prepaga %HEALTH_SYSTEM_NAME%</h1>
          <p style="margin: 40px 0; font-size: 16px">y adherir al usuario: %PATIENT_FIRST_NAME% %PATIENT_LAST_NAME%, email: %PATIENT_EMAIL%<span style="font-weight: 800; font-size: 24px"></span></p>
          <p style="font-size: 0.8rem;">Por favor controlar que se encuentren todos los datos cargados correctamente.</p>
        </div>
    </body>
  </html>
