<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smartwatch desfasado</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      /* Estilos CSS */
      body {
        margin: 0;
        padding: 0;
        font-family: "Quicksand", sans-serif; /* Aplicación de la fuente importada */
      }

      /* Estilos adicionales... */
    </style>
  </head>
  <body>
    <table
      id="table"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="max-width: 700px; margin: 0 auto"
    >
      <!-- Encabezado -->
      <tr>
        <td
          id="heading"
          style="
            background-color: #0066ff;
            color: #f5f7f9;
            text-align: center;
            padding: 20px;
          "
        >
          <h1>SmartWatch con horario desfasado</h1>
        </td>
      </tr>

      <!-- Cuerpo del correo -->
      <tr>
        <td
          id="mailbody"
          style="
            background-color: #fff;
            color: #3c3c3b;
            padding: 20px;
            font-size: 16px;
            text-align: center;
          "
        >
          <p>
            Detectamos un reloj con la hora desconfigurada.
          </p>

          <hr
            style="
              border: none;
              height: 1px;
              background-color: #0066ff;
              margin: 20px 0;
            "
          />

          <div id="adulto-mayor" style="padding-bottom: 20px; width: auto">
            <h2
              style="
                color: #f5f7f9;
                background-color: #427e46;
                padding: 20px;
                text-align: center;
              "
            >
              %PATIENT_FIRST_NAME% %PATIENT_LAST_NAME%
            </h2>

            <ol
              id="list"
              start="1"
              style="width: 80%; margin: 0 auto; text-align: left"
            >
              <li style="padding: 5px"><b>UserID:</b> %USER_ID%</li>
              <li style="padding: 5px"><b>IMEI Watch:</b> %SW_ID%</li>
              <li style="padding: 5px"><b>N° de SmartWatch:</b> %SW_NUMBER%</li>
              <li style="padding: 5px"><b>Fecha del último evento:</b> %BACKEND_DATE%</li>
              <li style="padding: 5px"><b>Fecha del reloj en ese momento:</b> %SW_DATE%</li>
            </ol>
          </div>

          <hr
            style="
              border: none;
              height: 1px;
              background-color: #0066ff;
              margin: 20px 0;
            "
          />
        </td>
      </tr>

      <!-- Mensaje adicional -->
      <tr>
        <td
          id="additional-info"
          style="
            background-color: #fff;
            color: #3c3c3b;
            padding: 20px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
          "
        >
          <p>
            Para más información ingresá a nuestro
            <a href="https://backoffice.elliecenter.com" target="_blank"
              >Back Office</a
            >, Portal de redes, buscar por UserID y Ver más Info.
            <br />
            Por cualquier consulta mandanos un email a
            <a href="mailto:soporte@ellie.care">soporte@ellie.care</a>.
          </p>
        </td>
      </tr>

      <!-- Footer -->
      %FOOTER%
    </table>
  </body>
</html>
